$theme-color1: #f5f6f8;
$theme-color2: #ffffff;
$theme-color3: #5c657e;
$theme-color4: #2d3748;
$theme-color5: #abb4cd;
$theme-color6: #f3f4f8;
$theme-color7: #ececec;
$theme-color8: #f7f7f7;
$theme-color9: #dee4f7;
