@import './theme.scss';

$global-spacing: 1rem;
$max-content-width: 1000px;

$font-color: $theme-color4;
$font-size-base: 14px;

$break-point-xs: 576px;
$break-point-sm: 768px;
$break-point-md: 992px;
$break-point-lg: 1200px;
