@import '../../../../../app/styles/theme.scss';
@import '../../../../../app/styles/variables.scss';

.article-preview {
    box-shadow: 2px 2px 4px 0 $theme-color9;

    background-color: $theme-color2;

    padding: $global-spacing;

    &__header {
        margin-bottom: $global-spacing;

        font-size: $font-size-base * 1.3;
        font-weight: 600;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-right: $global-spacing * 2;
    }

    &__footer {
        margin-top: $global-spacing;

        color: $theme-color5;
    }

    &__preamble {
        color: $theme-color3;
    }

    &__image {
        position: relative;

        padding: 0;
        padding-left: $global-spacing;
        margin: 0;

        max-width: 200px;

        &::before {
            content: '';

            background-color: $theme-color7;

            display: block;
            width: 1px;

            position: absolute;
            top: -$global-spacing;
            bottom: -$global-spacing;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}
